body{
    background: #e7e7e7;
    min-width: 370px;
    margin: 0;
}

/* uncategorized */
h1 span{
    display: block;
}

#start {
    color: rgb(16, 136, 16); 
    background: rgba(187, 211, 148, 0.3);
    border: 2px solid;
}
#start:hover {
    color: white;
    background: #1f7a06;
    cursor: pointer;
    border: none;
}
/* Header and header grid section */
/* ------------------------------------------------------------------------------ */
.topHeaderContainer{
    display: grid;
    background-color: #002843;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "nameContainer levelContainer";
}
#nameContainer{display: grid; grid-area: "nameContainer";}
#levelContainer{ display: grid; grid-area: "levelContainer";}

header {
    max-width: 800px;
    margin: auto;
}

#biggerFont {
    font-size: 200%;
}

/* Stripe section */
/* ------------------------------------------------------------------------------ */
.floatLeft{float: left;}
.floatRight{float: right;}
.emptyBlock{height: 110px;}
h3{ font-size: 130%;}
.level{padding-right: 10px;}
.completedLevel{color: yellow;}
.scoreBar{width: 32%;}
.inlineBlock{
    display: inline-block;
    width: 40%;
}
h1, h2, h3{
    cursor: default;
    text-align: center;
    line-height: 1.1;
    color: white;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

nav div{
    background-color: white;
    height: 30px;
}

.selected{
    background: #002843;
    color: white; 
}
.roundedBorder{
    border-radius: 0px 0px 20px 20px;
} 

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 30px;
    font-weight: 700;
    color: #002843;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
}

button:hover {
    color: white;
    background: #002843;
    cursor: pointer;
}  

button:focus {outline:0;}

/* Tooltip by w3schools */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-weight: 500;
    text-transform: none;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    border-radius: 6px;

    top: -5px;
    right: 105%; 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* Game section */
/* ------------------------------------------------------------------------------ */
.square {
    cursor: pointer;
    width: 13.5%;
    padding-bottom: 13.5%;
    border: solid #d3d3d3 1px;
    margin: 1.31%; /* (100% - (number of squares * width))/2*number of squares */
    background: rgb(255, 255, 255);
    float: left;
}

#myBar {
    width: 0%;
    height: 30px;
    border-radius: 0px 0px 20px 20px;
    background-color: green;
}


#container{
    max-width: 800px;
    margin: 20px auto;
}

 
/* Media queries */
/* ------------------------------------------------------------------------------ */
@media only screen and (max-width: 600px) {
    .topHeaderContainer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "nameContainer"
        "levelContainer";
    }

    .emptyBlock{
        height: 0px;
    }
}